# Data Science TOOL and Ecosystem

his snotebook is about data sceince that is for a person who is quries and goo d at story telling

Some of the popular languages that Data Scientists use are:
python
scala
julia

In [ ]:
Some of the commonly used libraries used by Data Scientists include:
NumPy
Matplotlib
Pandas

|Data Science Tools|TensorFlow|Apache Spark|Apache Hadoop|
|:-----------------|:---------:|:---------:|:-----------:|

In [4]:
### Below are a few examples of evaluating arithmetic expressions in Python
(3*5)+10

25

In [5]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [7]:
200/60
# This will convert 200 minutes to hours by diving by 60

3.3333333333333335

__Objectives:__
list of skills a person should have to become Dta scientist
- story telling
- static
- probability
- coding

## Author
Abdul Rehman Raja
Author